Найти:
<input ng-model="myQuery"><br><br>

Сортировать по:
<select ng-model="myOrderProperty">
    <option value="id">ID</option>
    <option value="weight">Весу</option>
    <option value="height">Росту</option>
</select>

Сортировать по типу:
<select ng-model="myType">
    <option ng-repeat="pokemon in pokemons | filter:unique" value="{{pokemon.type [0]}}">{{pokemon.type [0]}}</option>
</select>

<ul>
    <li ng-repeat="pokemon in pokemons | filter: myQuery | filter: {type: myType} | orderBy: myOrderProperty:true">
        <img ng-click="alert(pokemon.name)" src="{{pokemon.ThumbnailImage}}">

        <small>ID #{{pokemon.id }}</small>
        <h1 ng-if="pokemon.type [0] == 'fire'" style="background-color:red;">{{pokemon.name}}</h1>
        <h1 ng-if="pokemon.type [0] == 'grass'" style="background-color:green;">{{pokemon.name}}</h1>
        <h1 ng-if="pokemon.type [0] == 'water'" style="background-color:blue;">{{pokemon.name}}</h1>
        <h1 ng-if="pokemon.type [0] == 'normal'" style="background-color:grey;">{{pokemon.name}}</h1>
        <h1 ng-if="pokemon.type [0] == 'electric'" style="background-color:yellow;">{{pokemon.name}}</h1>
        <p>Вес: {{pokemon.weight}}, рост: {{pokemon.height}}</p>
        <p>Тип: <span ng-repeat="type in pokemon.type">{{type}} </span></p>
        <hr />
    </li>
</ul>

<p ng-show="myQuery">
    Выведены покемоны, содержащие
    {{myQuery}}
</p>